
<div id="outline-container-org4c23ac2" class="outline-2">
<h2 id="willkommen">Willkommen bei der Schreinerei Meier im Internet!</h2>
<div class="outline-text-2" id="text-willkommen">
<p>
Wir sind seit vielen Jahren darauf spezialisiert, alle Kundenwünsche zu
erfüllen. In unserer Werkstatt produzieren wir selbst - mit Holz aus
regionaler, nachhaltiger Forstwirtschaft.
</p>
</div>

<div id="outline-container-org2ada428" class="outline-3">
<h3 id="unsere-leistungen">Unsere Leistungen:</h3>
<div class="outline-text-3" id="text-unsere-leistungen">
<ul class="org-ul">
<li>Möbel nach Ihren Wünschen
<ul class="org-ul">
<li>Küchenmöbel</li>
<li>Regale und Schrankwände</li>
<li>Badezimmermöbel</li>
</ul></li>
<li>Haustüren</li>
<li>Gartenzäune</li>
<li>Reparaturen</li>
</ul>

<div id="offer" class="aside">
<h3>Angebot</h3>
<p>
Nächste Woche 10% auf alles!
</p>

</div>
</div>
</div>

<div id="outline-container-org4eed115" class="outline-3">
<h3 id="unsere-geschichte">Unsere Geschichte:</h3>
<div class="outline-text-3" id="text-unsere-geschichte">
<p>
Die Anfänge unserer Firma reichen bis ins Mittelalter zurück, als Horst
Holzmann begann seine bisher für den Eigenbedarf hergestellten Möbel
auch auf dem Markt der nächsten Stadt zu verkaufen.
</p>

<p>
Sein Sohn führte diese Tradition fort und nach ihm noch viele weitere
Kinder und Kindeskinder. Heute führt Schwiegersohn Harry Meier den
Betrieb in der 15. Generation weiter und arbeitet bereits seinen Enkel
als Nachfolger ein.
</p>
</div>
</div>
</div>
